---
layout: ""
page_title: "Provider: azresourcegraph"
description: |-
  The azresourcegraph provider allows you to query Azure Resource Graph.
---

# azresourcegraph Provider

This provider allows you to query [Azure Resource Graph](https://docs.microsoft.com/en-us/azure/governance/resource-graph/overview)
and use the results together with other `Terraform` providers.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
